@font-face {
  font-family: 'Lato-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Lato-Light'),
    url(../fonts/Lato-Light.woff2) format('woff2'),
    url(../fonts/Lato-Light.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Lato-Regular'),
    url(../fonts/Lato-Regular.woff2) format('woff2'),
    url(../fonts/Lato-Regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Semibold';
  font-weight: 600;
  font-style: normal;
  src: local('Lato-Semibold'),
    url(../fonts/Lato-Semibold.woff2) format('woff2'),
    url(../fonts/Lato-Semibold.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Lato-Bold'),
    url(../fonts/Lato-Bold.woff2) format('woff2'),
    url(../fonts/Lato-Bold.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Signika-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Signika-Light'),
    url(../fonts/Signika-Light.woff2) format('woff2'),
    url(../fonts/Signika-Light.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Signika-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Signika-Regular'),
    url(../fonts/Signika-Regular.woff2) format('woff2'),
    url(../fonts/Signika-Regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Signika-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Signika-SemiBold'),
    url(../fonts/Signika-SemiBold.woff2) format('woff2'),
    url(../fonts/Signika-SemiBold.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Signika-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Signika-Bold'),
    url(../fonts/Signika-Bold.woff2) format('woff2'),
    url(../fonts/Signika-Bold.woff) format('woff');
  font-display: swap;
}
