$white: #fff;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$green-900: #4D810C;
$green-800: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;

$white-opacity-1:rgba(255, 255, 255, 0.1);
$white-opacity-5:rgba(255, 255, 255, 0.5);
$dark-opacity-1: rgba(0, 0, 0, 0.1);
$dark-opacity-2: rgba(17, 17, 17, 0.2);
$green-opacity-5: rgba(99, 166, 14, 0.5);
$green-opacity-8: rgba(49, 53, 43, 0.85);


%lato-300 {
  font-family: 'Lato-Light', sans-serif;
  font-weight: 300;
}

%lato-400 {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%lato-600 {
  font-family: 'Lato-Semibold', sans-serif;
  font-weight: 600;
}

%lato-700 {
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}

%signika-300 {
  font-family: 'Signika-Light', sans-serif;
  font-weight: 300;
}

%signika-400 {
  font-family: 'Signika-Regular', sans-serif;
  font-weight: 400;
}

%signika-600 {
  font-family: 'Signika-SemiBold', sans-serif;
  font-weight: 600;
}

%signika-700 {
  font-family: 'Signika-Bold', sans-serif;
  font-weight: 700;
}

%transition {
  transition: border-radius 0.3s ease-in-out,
  background-color 0.3s ease-in-out,
  box-shadow 0.3s ease-in-out,
  color 0.3s ease-in-out;
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}