$main: #E5E5E5;
$text: #121212;
$white: #fff;
$header-bg-1: #31352B;
$header-bg-2: #63A60F;
$catalog: #63A60E;
$catalog-text:#000;
$catalog-hover-active:#E0EDCF;
$placeholder: #31352B;
$search-btn:#31352B;
$search-btn-focus:#E0EDCF;
$search-btn-hover: rgba(49, 53, 43, 0.85);
$search-btn-active: rgba(255, 255, 255, 0.5);
$user-num: #CF3E3B;





%lato-300 {
  font-family: 'Lato-Light', sans-serif;
  font-weight: 300;
}

%lato-400 {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%lato-600 {
  font-family: 'Lato-Semibold', sans-serif;
  font-weight: 600;
}

%lato-700 {
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}

%signika-300 {
  font-family: 'Signika-Light', sans-serif;
  font-weight: 300;
}

%signika-400 {
  font-family: 'Signika-Regular', sans-serif;
  font-weight: 400;
}

%signika-600 {
  font-family: 'Signika-SemiBold', sans-serif;
  font-weight: 600;
}

%signika-700 {
  font-family: 'Signika-Bold', sans-serif;
  font-weight: 700;
}