@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';

.header {
  background-color: $dark-800;

  &__inner {
    @extend %flex;
  }

  &__link:hover {
    opacity: 0.7;
  }
}

.header-contact {
  display: flex;
  padding: 14px 0;

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__feedback {
    @extend %lato-700;
    color: $white;
    letter-spacing: 0.03em;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 12px;
  }
}

.header-nav {
  display: flex;

  &__item {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    @extend %lato-700;
    color: $white;
    letter-spacing: 0.03em;
    font-size: 13px;
    text-transform: uppercase;
  }
}

.header-bottom {
  background-color: $green-800;
  padding: 24px 0;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 22px;
  }
}

.header-form {

  &__item {
    position: relative;
    display: inline-block;
  }

  &__item::before {
    content: '';
    background-image: url(../images/svg/nav_icon.svg);
    width: 25px;
    height: 17px;
    position: absolute;
    transform: translate(15px, 18px);
  }

  &__item::after {
    content: '';
    background-image: url(../images/svg/arrow-down.svg);
    background-repeat: no-repeat;
    width: 7px;
    height: 7px;
    position: absolute;
    right: 30px;
    transform: translate(-20px, 24px);
  }

  &__select {
    color: $green-800;
    margin-right: 28px;
    max-width: 240px;
    padding: 15px 40px 15px 60px;
    appearance: none;
    border-radius: 6px;
    border: none;
    transition: background-color 0.3s linear,
      border-radius 0.3s linear;
  }

  &__select:hover,
  &__select:active {
    background-color: $green-200;
    border-radius: 6px 6px 0 0;
  }

  &__option {
    color: $dark-900;
  }
}

.header-search {
  position: relative;
  display: inline-table;
  margin-right: 37px;


  &::before {
    content: '';
    background-image: url(../images/svg/search.svg);
    position: absolute;
    width: 21px;
    height: 20px;
    left: 0;
    transform: translate(10px, 15px);
  }

  &__input {
    width: 419px;
    height: 50px;
    padding: 15px 15px 15px 50px;
    border-radius: 6px 0 0 6px;
  }

  &__input::placeholder {
    @extend %lato-400;
    color: $dark-800;
    letter-spacing: 0.03em;
  }

  &__btn {
    background-color: $dark-800;
    border-radius: 0px 6px 6px 0px;
    padding: 16px 52px;
  }

  &__btn:hover {
    background-color: $green-opacity-8;
  }
}

.header-menu {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 11px;
  }

  &__link {
    position: relative;
    @extend %flex-center;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: background-color 0.3s linear;
  }

  &__link:hover {
    background-color: $white-opacity-1;
  }

  &__num {
    background-color: $white;
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    transform: translate(4px, -10px);
    color: $red-900;
    font-size: 10px;
    letter-spacing: 0.03em;
    text-align: center;
    line-height: 1.8;
  }
}

.footer {
  background-color: $dark-800;
  @extend %lato-400;
  color: $white;
  line-height: 1.4;

  &__head {
    padding: 30px 0;
  }
}

.footer-top {
  display: grid;
  padding-bottom: 30px;
  grid-template-columns: 330px 1fr 215px 215px 200px;

  &__form {
    line-height: 1;
    display: table;
  }

  &__caption {
    display: inline-block;
    margin-bottom: 18px;
  }

  &__email {
    padding: 12px 20px 12px 12px;
    border-radius: 6px 0px 0px 6px;
  }

  &__email::placeholder {
    color: $dark-500;
  }

  &__btn {
    @extend %lato-700;
    font-size: 12px;
    line-height: 1.3;
    background-color: $green-800;
    padding: 14px 10px 12px 14px;
  }

  &__menu:nth-child(2) {
    justify-self: center;
  }

  &__list:not(:last-child) {
    margin-bottom: 18px;
  }

  &__address {
    font-style: normal;
  }

  &__contact,
  &__hotline {
    margin-bottom: 18px;
  }

  &__hotline {
    display: block;
  }

  &__phone,
  &__address {
    text-transform: capitalize;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__social-list:not(:last-child) {
    margin-right: 1px;
  }

  &__social-icon {
    transition: fill-opacity 0.3s ease-out;
  }

  &__social-icon:active {
    fill-opacity: 0.7;
  }
}

.footer-bottom {
  text-transform: uppercase;
  padding: 24px 0;
  border-top: 1px solid $white-opacity-5;

  &__inner {
    @extend %flex;
  }

  &__icon:not(:last-child) {
    margin-right: 24px;
  }
}


.stock-slider {

  &__wrapper {
    width: 1920px;
    height: 600px;
    padding: 143px 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__item {
    background-color: $white-opacity-5;
    max-width: 765px;
    width: 100%;
    border-radius: 6px;
    padding: 24px;
    margin-bottom: 40px;
  }

  &__item-two {
    max-width: 818px;
    width: 100%;
  }

  &__item-three {
    max-width: 888px;
    width: 100%;
  }

  &__title {
    @extend %signika-700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.3;
    color: $dark-500;
    margin-bottom: 12px;
  }

  &__subtitle {
    color: $red-900;
  }

  &__text {
    @extend %lato-400;
    font-size: 16px;
    color: $dark-500;
  }

  &__link {
    color: $white;
    background-color: $green-800;
  }

  &__prev,
  &__next {
    @extend %transition;
    background-color: $white-opacity-5;
    border-radius: 6px;
    padding: 14px 21px 9px 21px;
    position: absolute;
    z-index: 1;
    top: 45%;
  }

  &__prev:focus,
  &__next:focus {
    background-color: $green-200;
    border: 1px solid $green-800;
    box-shadow: 0px 0px 0px 3px $green-opacity-5;
    border-radius: 6px;
    margin: -1px;
  }

  &__prev:hover,
  &__next:hover,
  &__prev:active,
  &__next:active {
    background-color: $green-200;
    border: 1px solid $green-800;
    border-radius: 6px;
    margin: -1px;
  }

  &__prev:focus path,
  &__next:focus path,
  &__prev:hover path,
  &__next:hover path,
  &__prev:active path,
  &__next:active path {
    fill: $green-800;
  }

  &__prev {
    left: 45px;
  }

  &__next {
    right: 60px;
  }
}

.product-advantages {
  background-color: $silver-100;
  padding: 48px 0;

  &__items {
    @extend %flex-center;
  }

  &__item {
    position: relative;
    width: 275px;
    height: 52px;
    padding-left: 70px;
  }

  &__list--scooter::before,
  &__list--return::before,
  &__list--hours::before {
    content: '';
    background-image: url(../images/svg/scooter.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 0;
  }

  &__list--return::before {
    background-image: url(../images/svg/return.svg);
  }

  &__list--hours::before {
    background-image: url(../images/svg/hours.svg);
  }

  &__item:not(:last-child) {
    margin-right: 52px;
  }

  &__title {
    @extend %lato-700;
    font-size: 16px;
    margin-bottom: 6px;
  }

  &__text {
    @extend %lato-400;
    font-size: 14px;
    color: $dark-500;
  }

}

.product-top {
  padding: 72px 0;

  &__title {
    @extend %signika-600;
    font-size: 32px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

  &__filter {
    @extend %flex-center;
    margin-bottom: 48px;
  }

  &__item {
    transition: border-bottom 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
  }

  &__item:not(:last-child) {
    margin-right: 28px;
  }

  &__item:hover {
    border-bottom: 3px solid $green-200;
    margin-top: -3px;
  }

  &__button {
    @extend %lato-700;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-500;
  }
}

.product-cards {

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    margin-bottom: 48px;
  }

  &__mix {
    width: 300px;
    height: 409px;
    background-color: $white;
    border: 1px solid $dark-opacity-2;
    box-sizing: border-box;
    border-radius: 6px;
    transition: border 0.3s ease-in-out;
  }

  &__mix:hover {
    border: 1px solid $green-800;
  }

  &__top {
    padding: 12px 12px 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__badge {

    &--green,
    &--red,
    &--oregin {
      @extend %lato-700;
      font-size: 10px;
      letter-spacing: 0.03em;
      line-height: 1;
      text-transform: uppercase;
      color: $white;
      display: block;
      padding: 3px 6px;
      border-radius: 6px;
    }

    &--green {
      background-color: $green-800;
      margin-bottom: 6px;
    }

    &--red {
      width: 36px;
      background-color: $red-900;
    }

    &--oregin {
      background-color: $orange-900;
    }
  }

  &__liked {
    transition: fill 0.3s linear;
  }

  &__liked:hover path {
    fill: $yellow-900;
  }

  &__body {
    margin-bottom: 7px;
  }

  &__bottom {
    padding: 0 18px 18px 18px;
  }

  &__text {
    letter-spacing: 0.03em;
    margin-bottom: 39px;

    &--two,
    &--four {
      margin-bottom: 47px;
    }

    &--three,
    &--five,
    &--seven,
    &--eight {
      margin-bottom: 29px;
    }

    &--six {
      margin-bottom: 6px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {

    &--top,
    &--main {
      @extend %lato-400;
      line-height: 1;
      letter-spacing: 0.03em;
    }

    &--top {
      color: $silver-600;
      display: block;
      margin-bottom: 3px;
      position: relative;

      &::before {
        content: '';
        border-bottom: 1px solid $silver-600;
        position: absolute;
        width: 100%;
        height: 50%;
        transform: rotate(-12deg);
      }
    }

    &--main {
      color: $dark-500;
    }
  }

  &__link {
    @extend %transition;
    background-color: $green-800;
    border-radius: 3px;
    padding: 8px 9px 1px 8px;
  }

  &__link:focus {
    box-shadow: 0px 0px 0px 4px $green-200;
    border-radius: 3px;
  }

  &__link:hover {
    background-color: $green-900;
  }

  &__link:active {
    color: $white-opacity-5;
    box-shadow: inset 0px 4px 4px $dark-opacity-1;
  }

  &__link:active path {
    fill: $white-opacity-5;
  }

  &__btn {
    color: $green-800;
    background-color: $white;
    border: 1px solid $green-800;
    display: block;
    margin: 0 auto;
  }

  &__btn:hover {
    background-color: $green-100;
  }

  &__btn:active {
    color: $green-opacity-5;
  }
}


@import 'media';